<%= labelled_fields_for :autolink, @autolink do |f| %>
  <%= error_messages_for 'autolink' %>
  <p><%= f.text_field :prefix, placeholder: t('.prefix_placeholder'),
                      maxlength: 20, required: true %></p>
  <p><%= t('.prefix_hint') %></p>
  <p><%= f.text_field :target_url, placeholder: t('.target_url_placeholder'),
                      size: 60, maxlength: 255, required: true %></p>
<% end %>
