<tr class="<%= row_classes %>">
  <td class="td-px-0 w-40">
    <div class="break-normal overflow-auto">
      <% issue_link_list(timer_session_entry.issues).each do |issue_link| %>
        <%= issue_link %>
        <br>
      <% end %>
    </div>
  </td>
  <td class="w-20">
    <div class="break-normal overflow-auto"><%= timer_session_entry.comments %></div>
  </td>
  <td><%= timer_session_entry.formated_session_time %></td>
  <td><%= format_worked_hours(timer_session_entry.recorded_hours) %></td>
  <td class="timer-session-table-actions">
    <% if timer_session_entry? %>
      <% if can_continue_entry? %>
        <%= link_to(sprite_icon('arrow-right', t(:button_continue), icon_only: true),
                    timer_sessions_continue_path(timer_session_entry),
                    data: { timer_session_continue_button: '' },
                    method: :post, class: 'icon-only icon-arrow-right') %>
      <% end %>
      <% if can_edit_entry? %>
        <%= link_to(sprite_icon('edit', t(:button_edit), icon_only: true),
                    edit_timer_session_path(timer_session_entry),
                    data: { timer_session_edit_button: '' },
                    remote: true, class: 'icon-only icon-edit') %>
      <% end %>
      <% if can_destroy_entry? %>
        <%= link_to(sprite_icon('del', t(:button_delete), icon_only: true),
                    timer_session_path(timer_session_entry),
                    data: { confirm: t(:text_are_you_sure), timer_session_destroy_button: '' },
                    method: :delete, class: 'icon-only icon-del') %>
      <% end %>
      <% if display_discrepancy_errors? %>
        <%= link_to(sprite_icon('warning', t('timer_sessions.messaging.errors.discrepancy_in_time_sum.title'), icon_only: true),
                    timer_sessions_time_error_path(timer_session_entry),
                    data: { timer_session_discrepancy_button: '' },
                    remote: true, class: 'icon-only icon-warning') %>
      <% elsif display_overlap_errors? %>
          <%= sprite_icon('warning', t('timer_sessions.messaging.overlap_error'), icon_only: true) %>
      <% end %>
    <% end %>
  </td>
</tr>
