<tr class="<%= row_classes %>">
  <td class="td-px-0 w-40">
    <% issue_link_list(timer_session_entry.issues).each do |issue_link| %>
      <%= issue_link %>
      <br>
    <% end %>
  </td>
  <td class="w-20"><%= timer_session_entry.comments %></td>
  <td><%= timer_session_entry.formated_session_time %></td>
  <td><%= format_worked_hours(timer_session_entry.recorded_hours) %></td>
  <td class="timer-session-table-actions">
    <% if timer_session_entry? %>
      <% if can_continue_entry? %>
        <%= link_to timer_sessions_continue_path(timer_session_entry),
                    method: :post,
                    data: { timer_session_continue_button: '' } do %>
          <span class="icon-only icon-arrow-right"></span>
        <% end %>
      <% end %>
      <% if can_edit_entry? %>
        <%= link_to edit_timer_session_path(timer_session_entry),
                    data: { timer_session_edit_button: '' },
                    remote: true do %>
          <span class="icon-only icon-edit"></span>
        <% end %>
      <% end %>
      <% if can_destroy_entry? %>
        <%= link_to timer_session_path(timer_session_entry),
                    data: { confirm: t(:text_are_you_sure), timer_session_destroy_button: '' },
                    method: :delete, title: t(:button_delete) do %>
          <span class="icon-only icon-del"></span>
        <% end %>
      <% end %>
      <% if display_discrepancy_errors? %>
        <%= link_to timer_sessions_time_error_path(timer_session_entry),
                    data: { timer_session_discrepancy_button: '' },
                    remote: true do %>
          <span class="icon-only icon-warning"></span>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
