<div class="box" data-controller="form timer" data-timer-timezone-value="<%= offset_for_time_zone %>">
  <div class="timer-container">
    <% active_timer_session = timer_session %>
    <%= labelled_form_for(active_timer_session,
      url: time_tracker_path(active_timer_session),
      method: active_timer_session.persisted? ? :patch : :post,
      remote: true,
      format: :js) do |f| %>
      <%= f.hidden_field :id, data: { timer_id: '' } %>
      <%= error_messages_for active_timer_session %>
      <% if active_timer_session.timer_start %>
        <div class="text-center mb-3">
          <div>
            <h1>
              <span id="hours-clock" class="left-text" data-timer-target="label">??:??</span>
            </h1>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="issue-container" data-controller="issue-completion">
          <div class="box">
            <%= render 'shared/ticker_issue_list', timer_session: active_timer_session,
                data_anker: 'data-issue-deletion-action', container_data_anker: 'data-issue-selection-container' %>
            <hr>
            <%= f.text_field :issue_id, label: false, type: :search, data: { issue_completion_target: 'input' },
                required: active_timer_session.persisted?, autofocus: 'autofocus' %>
            <% if SettingsManager.visible_hints %>
              <small class="form-text text-muted"><%= t('timer_sessions.messaging.issue_list_hint') %></small>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-12">
          <%= f.text_field :comments, data: { form_target: 'description', timer_target: 'description', action: 'change->form#change' },
              placeholder: t('timer_sessions.messaging.comments_placeholder'),
              required: active_timer_session.persisted?, class: 'w-100' %>
          <% if SettingsManager.visible_hints %>
            <small class="form-text text-muted"><%= t('timer_sessions.messaging.comments_hint') %></small>
          <% end %>
        </div>
      </div>
      <br>
      <div class="times-container">
        <div class="col">
          <div class="w-100">
            <%= render 'shared/time_entry_input', f: f, input_name: :timer_start, value: active_timer_session.timer_start, required: active_timer_session.persisted?, target: 'start' %>
            <% if SettingsManager.visible_hints %>
              <small class="form-text text-muted"><%= t('timer_sessions.messaging.timer_start_hint') %></small>
            <% end %>
          </div>
        </div>
        <br>
        <div class="col">
          <%= render 'shared/time_entry_input', f: f, input_name: :timer_end, value: active_timer_session.timer_end, required: active_timer_session.persisted?, target: 'end' %>
          <% if SettingsManager.visible_hints %>
            <small class="form-text text-muted"><%= t('timer_sessions.messaging.timer_end_hint') %></small>
          <% end %>
        </div>
      </div>
      <% if f.object.persisted? %>
        <%= f.text_field :absolute_time, class: 'w-100', data: { form_target: 'absolutInput', action: 'change->form#absoluteTime' }, placeholder: t('timer_sessions.timer.absolute_time_placeholder') %>
        <% if SettingsManager.visible_hints %>
          <small class="form-text text-muted"><%= t('timer_sessions.messaging.timer_absolute_time_hint') %></small>
        <% end %>
      <% end %>
      <div class="mb-3"></div>
      <% if timer_session.persisted? %>
        <div data-ending-action-buttons>
          <% if User.current.allowed_to_globally?(action: :stop, controller: 'time_tracker') %>
            <%= f.button :stop, type: :submit, data: { name: 'timer-stop', form_target: 'stopButton' }, name: :stop do %>
              <%= t('timer_sessions.timer.stop') %>
              <i class="icon icon-error"></i>
            <% end %>
          <% end %>
          <% if User.current.allowed_to_globally?(action: :cancel, controller: 'time_tracker') %>
            <%= f.button :cancel, type: :submit, data: { name: 'timer-cancel', confirm: l(:text_are_you_sure) }, class: 'ml-3', name: :cancel, value: :cancel, form: "timer-cancel-form" do %>
              <%= t('timer_sessions.timer.cancel') %>
              <i class="icon icon-cancel"></i>
            <% end %>
          <% end %>
        </div>
      <% elsif !timer_session.persisted? && User.current.allowed_to_globally?(action: :start, controller: 'time_tracker') %>
        <%= f.button :start, type: :submit, value: :start, data: { name: 'timer-start' }, name: :commit do %>
          <%= t('timer_sessions.timer.start') %>
          <i class="icon icon-add new-issue"></i>
        <% end %>
        <%= f.button :start, type: :submit, value: :continue_last_session, data: { name: 'timer-continue' }, class: 'ml-3', name: :commit do %>
          <%= t('timer_sessions.timer.continue_last_session') %>
          <i class="icon icon-add new-issue"></i>
        <% end %>
      <% end %>
    <% end %>

    <%= button_to "hide me", time_tracker_path, method: :delete, form: {id: "timer-cancel-form", data: {remote: true}, format: "js"} %>
  </div>
</div>
