<% base_scope = 'timer_sessions.messaging.errors.discrepancy_in_time_sum' %>
<h3><%= t('body', scope: base_scope, range: timer_session.formated_session_time) %></h3>
<div class="mt-3">
  <h4><%= t('resolution_options.options', scope: base_scope) %></h4>
  <ul>
    <li>
      <%= t('resolution_options.edit_timer_session', scope: base_scope, hours: format_worked_hours(timer_session.recorded_hours)) %><br>
      <%= link_to edit_timer_session_path(timer_session), remote: true do %>
        <%= t('timer_sessions.edit.title') %>
        <div class="icon-only icon-edit"></div>
      <% end %>
    </li>
    <li>
      <%= t('resolution_options.edit_time_entries', scope: base_scope, hours: format_worked_hours(timer_session.splittable_hours)) %><br>
      <% if timer_session.time_entries.present? %>
        <% timer_session.time_entries.each do |time_entry| %>
          <ul>
            <li>
              <%= link_to edit_time_entry_path(time_entry) do %>
                <%= format_time_entry_information(time_entry) %>
                <div class="icon-only icon-edit"></div>
              <% end %>
            </li>
          </ul>
        <% end %>
      <% else %>
        <b><%= t('timer_sessions.messaging.no_time_entries_found') %></b>
      <% end %>
    </li>
  </ul>
  <hr>
  <%= t('resolution_options.last_resort', scope: base_scope, hours: timer_session.recorded_hours) %>
  <div class="mt-3">
    <%= link_to timer_session_path(timer_session), data: { confirm: l(:text_are_you_sure) }, method: :delete, title: l(:button_delete) do %>
      <%= t('timer_sessions.destroy.button') %>
      <div class="icon-only icon-del"></div>
    <% end %>
  </div>
  <div class="mt-3">
    <%= link_to timer_sessions_rebalance_path(timer_session), data: { confirm: l(:text_are_you_sure) }, method: :post, title: l(:button_delete) do %>
      <%= t('timer_sessions.rebalance.button') %>
      <div class="icon-only icon-add"></div>
    <% end %>
  </div>
</div>

