<table>
  <tbody>
    <tr>
      <th><%= t('timer_sessions.settings.displayed_hours_rounding') %></th>
      <td>
        <input type="number" id="settings_notification_default" 
                           value="<%= settings['displayed_hours_rounding'] %>" 
                           name="settings[displayed_hours_rounding]" >
      </td>
    </tr>
    <tr>
      <th><%= t('timer_sessions.settings.max_hours_recorded_per_day') %></th>
      <td>
        <input type="number" id="max_hours_recorded_per_day" 
                           value="<%= settings['max_hours_recorded_per_day'] %>" 
                           name="settings[max_hours_recorded_per_day]" >
      </td>
    </tr>
    <tr>
      <th><%= t('timer_sessions.settings.max_hours_recorded_per_session') %></th>
      <td>
        <input type="number" id="max_hours_recorded_per_session" 
                           value="<%= settings['max_hours_recorded_per_session'] %>" 
                           name="settings[max_hours_recorded_per_session]" >
      </td>
    </tr>
    <tr>
      <th><%= t('timer_sessions.settings.visible_hints') %></th>
      <td>
         <%= check_box_tag "settings[visible_hints]", true, @settings[:visible_hints] %>
      </td>
    </tr>
    <tr>
      <th><%= t('timer_sessions.settings.max_hours_recorded_per_session') %></th>
      <td>
        <input type="number" id="min_hours_to_record" 
                           value="<%= settings['min_hours_to_record'] %>" 
                           name="settings[min_hours_to_record]" >
      </td>
    </tr>
  </tbody>
</table>
